<tr>
    <td class="text-body">#951</td>
    <td class="text-body">Juan Perez</td>
    <td class="text-secondary">07/10/2025</td>
    <td class="text-body">Accidente</td>
    <td class="text-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit.?
    </td>
    <td class="text-body">Comas</td>
    <td>
        <span class="text-warning bg-warning bg-opacity-10 fs-15 fw-normal d-inline-block default-badge">En
            Progreso</span>
    </td>
</tr>