services:
  backend:
    build:
      context: ./services
      dockerfile: Dockerfile
    container_name: django-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./services/.env
    depends_on:
      - db

  notification_service:
    build:
      context: ./services/notification_service
      dockerfile: Dockerfile
    container_name: notification-service
    command: npm run start:dev
    volumes:
      - ./services/notification_service:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    env_file:
      - ./services/notification_service/.env
    depends_on:
      - db

  frontend:
    build:
      context: ./server-side
      dockerfile: Dockerfile
    container_name: node-frontend
    command: npm run dev
    volumes:
      - ./server-side:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_dev
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
